@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Roboto+Mono:wght@300&family=Work+Sans:wght@300&display=swap');

.img {
    max-height: 90vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}


h3{
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 3rem;
}

p{
    
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1rem;

}