.Jumbotron{
    background-image: url("https://res.cloudinary.com/ds6jpxpzy/image/upload/e_brightness_hsb:-80/v1670674353/concept-1868728_1920_nehlse.jpg");
    background-size: cover;
    background-position: center;
    height: 40%;

}

hr{
    border-color: white;
}