.Jumbotron{
    background-image: url("https://res.cloudinary.com/ds6jpxpzy/image/upload/e_brightness_hsb:-80/v1670271490/teach_b2qlhj.jpg");
    background-size: cover;
    background-position: center; 
    color: white ;
}

.Form{
    box-shadow: 10px 10px 10px;
    margin-bottom: 18rem;
    border-radius: 10px;
    background-color:#D8ECEB;
}

.Formitems{
    padding: 0 5rem 5rem 5rem ; 
}