@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&family=Playfair+Display&family=Roboto+Mono:wght@300&family=Work+Sans:wght@300&display=swap');

.Textcard{
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 30px;
}